DynObjects/BuildDynConsole/Dyn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Dyn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RootNamespace" type="xs:string" />
        <xs:element name="ComponentProvider" type="xs:string" />
        <xs:element name="InfoMessage" type="xs:string" minOccurs="0"/>
        <xs:element name="UsingNamespaces">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Namespace" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Components">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Component" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Accessor" type="xs:string" use="optional" />
                      <xs:attribute name="NoAccessor" type="xs:boolean" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" name="MulticastBeacon" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Accessor" type="xs:string" use="optional" />
                      <xs:attribute name="NoAccessor" type="xs:boolean" use="optional" />
                      <xs:attribute name="OptOut" type="xs:boolean" use ="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefaultMessageImplementationClass" type="xs:string" />
        <xs:element name="MessageDefsNamespace" type="xs:string" />
        <xs:element name="Messages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Message" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="HasDefaultImpl" type="xs:boolean" use="optional" />
                      <xs:attribute name="Multicast" type="xs:boolean" use="optional" />
                      <xs:attribute name="ThruInterface" type="xs:boolean" use="optional" />
                      <xs:attribute name="Overload" type="xs:string" use="optional" />
                      <xs:attribute name="GenerateBeacon" type="xs:boolean" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:boolean" name="SupportContracts"/>
    </xs:complexType>
  </xs:element>
</xs:schema>